/* header-section-start */
.header { 
    font-size: 30px;
    background-color: bisque;
    padding: 80px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url(/images/banner/banner2.png);
    background-size: 100%;   

}
.sub-title{ 
    text-align: right;
    width: 30%;
    margin-left: 800px;

}

.description{ 
    font-size:15px;
    width: 40%;
    margin-left: 55%;
    text-align: right;

}

.btn{
    text-align: right;
    margin-right: 65px;
    margin-top: 60px;

}


button{ 
    padding: 15px 25px;
    background-color: orangered;
    color: cornsilk;
    border-radius: 5px;
    
}
/* header-section end */

/* main-section-1 start */
.title-main h2 {
    font-size: 30px;
    margin-top: 100px;
    width: 200px;
     
}

.div-main{ 
    margin-left: 200px;
    margin-top: 150px;
}


.section-main{ 
    margin-left: 120px;
    margin-right: 120px;
    padding: 80px;
    display: flex;

}

.description-main{ 
    width: 500px;

}

.li-main{
    font-size: 25px;

}
/* main-section-1 end */

/* section-main 2 start */












